.introduction {
    height: calc(100vh - 7.5rem);
    display: flex;
    color: var(--color-font);
}

.introduction .introduction-image {
    height: 600px;
    z-index: -3;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: no-repeat center center;
    background-size: cover;
}

.introduction .introduction-content {
    color: #fff;
    margin-top: -5rem;
}

.introduction .introduction-content h2 {
    margin-left: 3rem;
    line-height: 3rem;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, .8);
}

.introduction .introduction-content h2 b {
    color: white;
}

.introduction .introduction-content h2 .trendyol {
    color: var(--color-trendyol);
    text-decoration: underline;
}

.introduction .introduction-content h2:last-of-type {
    margin-top: 1.5rem !important;
}

.introduction .introduction-content h4 {
    margin-top: 1rem;
}

.content {
    color: var(--color-font);
    width: calc(100% + 10rem);
    margin-left: -5rem;
    margin-bottom: 5rem;
    z-index: 9;
}

.content .content-item {
    cursor: pointer;
    user-select: none;
    color: white;
}

.content .content-item img {
    border-radius: 20px;
    margin: 10px 0;
    height: 250px;
    background: #fff no-repeat center center;
    object-fit: cover;
    width: 100%;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}

.content .content-item div {
    position: absolute;
    top: 0;
    padding: 2rem;
}

.content .content-item div h3 {
    font-weight: bold;
}

@media (max-width: 1200px) {
    .introduction .introduction-content h2 {
        margin-left: unset;
        font-size: 1.8rem;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}