.post-content {
    color: white;
    word-break: break-word;
    margin-bottom: 10rem;
}

.post-content h3 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 3rem 0;
    font-weight: bold;
}

.post-content h4 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: bold;
    margin: 2rem 0;
}

.post-content ol,
.post-content a,
.post-content p {
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, .8);
}

.post-content a {
    color: var(--yellow);
    text-decoration: underline;
    margin-left: 3px;
    margin-right: 3px;
}

.post-content figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    margin: 3rem 0;
}

.post-content figure img {
    margin-bottom: 5px;
    max-height: 500px;
    max-width: 100vw;
    border-radius: 10px;
    background-color: white;
}

.post-content figure figcaption,
.post-content figure figcaption a {
    margin-top: 1rem;
    font-size: .8rem;
    color: rgba(255, 255, 255, .5);
    max-width: 50%;
}

.post-content hr {
    border-top-color: rgba(255, 255, 255, .1);
}

.post-content blockquote,
.post-content q {
    margin: 2rem 3rem !important;
    font-size: 1.6rem;
    line-height: 2rem;
}

.post-content ol {
    list-style: decimal;
    counter-reset: initial;
    margin-left: 1.2rem;
}