{{define "links"}}
    <link rel="stylesheet" type="text/css" href="/static/style/index.css">
{{end}}

{{define "content"}}
    <div class="container">
        <div class="introduction">
            <div class="row align-items-center">
                <div class="col-md-5 d-none d-lg-block d-md-none">
                    <img class="lazy introduction-image"
                         src="/static/img/photo.12435343-76ad-4470-aa48-53ad63053234.jpg" alt="Furkan Bozdag"/>
                </div>
                <div class="col-md-7 col-12 col-offset-2 introduction-content">
                    <h2>Hello 👋</h2>
                    <h2>This is <b>Furkan Bozdağ</b>. I am a curious Software Engineer who likes about problem solving
                        and KISS principle at
                        <a class="trendyol" href="https://trendyol.com" target="_blank">Trendyol Group.</a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                {{range .Rss.Items}}
                    <div class="{{.ClassName}} col-12">
                        <a id="{{.Id}}" class="content-item" href="{{.Link}}">
                            <img class="lazy" src="{{.Thumbnail}}" alt="{{.Title}}"/>
                            <div>
                                <h3>{{.Title}}</h3>
                            </div>
                        </a>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
{{end}}

{{define "scripts"}}
    <script name="js" src="/static/js/index.js"></script>
{{end}}