<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title}}</title>

    <meta name="description" content="Hello 👋 This is Furkan Bozdağ. I am a curious Software Engineer who about problem solving and KISS principle at Trendyol Group." />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="https://bozdag.dev/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <link rel="next" href="https://bozdag.dev/" />

    <meta property="og:site_name" content="Furkan Bozdağ" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Furkan Bozdağ" />
    <meta property="og:description" content="Hello 👋 This is Furkan Bozdağ. I am a curious Software Engineer who about problem solving and KISS principle at Trendyol Group."  />
    <meta property="og:url" content="https://bozdag.dev/" />
    <meta property="og:image" content="https://bozdag.dev/static/img/photo.12435343-76ad-4470-aa48-53ad63053234.jpg" />
    <meta name="twitter:card" content="https://bozdag.dev/static/img/photo.12435343-76ad-4470-aa48-53ad63053234.jpg" />
    <meta name="twitter:title" content="Furkan Bozdağ" />
    <meta name="twitter:description" content="Hello 👋 This is Furkan Bozdağ. I am a curious Software Engineer who about problem solving and KISS principle at Trendyol Group." />
    <meta name="twitter:url" content="https://bozdag.dev/" />
    <meta name="twitter:image" content="https://bozdag.dev/static/img/photo.12435343-76ad-4470-aa48-53ad63053234.jpg" />
    <meta name="twitter:site" content="@bozd4g" />
    <meta property="og:image:width" content="720" />
    <meta property="og:image:height" content="1080" />

    <link rel="stylesheet" type="text/css" href="/static/style/app.css">
    <link rel="stylesheet" type="text/css" href="/static/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style/reset.css">
    {{template "links" .}}

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<header>
    <div class="container">
        <div class="mb-3">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">Furkan Bozdağ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/about">About</a>
                        <a class="nav-item nav-link" href="/contact">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<body>
    {{template "content" .}}
<div class="love-opensource">
    <a href="https://github.com/bozd4g/cherry" target="_blank">I <span>❤️</span> Open Source</a>
</div>
</body>

<footer></footer>

<script name="js" src="/static/js/app.js"></script>
{{template "scripts" .}}
<script type="text/javascript">
    let resourcePath = '/static/js/app.js';
    Array.prototype.slice.call(document.getElementsByName('js')).forEach(e => e.src = resourcePath + '?v=' + Date
        .now());
</script>

</html>